.view_info {
  min-height: 100vh;
}

.category {
  /* width: 100vw; */
  margin: 0px 20px 20px 20px;
  padding: 0px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.categoryname {
  max-width: 500px;
  min-width: 250px;
  /* position: relative;
  top: -35px; */

  background-color: #da45ff;
  background-image: linear-gradient(45deg, #da45ff, #00e7e7);
  background-size: 100%;
  text-align: center;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;

  height: 40px;
  color: black;
  border-radius: 5px;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.mycertificates {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
}

.myfile {
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

.myfile img {
  border-radius: 5px;
}
.myfile:hover {
  animation: scaleup 0.3s;
  transform: scale(1.1);
}

@keyframes scaleup {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.imageContainer {
  height: 100px;
  width: 180px;
}
.downloadIcon {
  position: absolute;
  top: 0px;
  right: 0px;
}

.verifiedLogo {
  position: absolute;
  top: -10px;
  left: 0px;
}

.filename {
  font-weight: 500;
  height: 30px;
  width: 200px;
  padding: 10px;
  font-size: larger;
  text-decoration: double;
}

.fileDescription {
  height: 70px;
  width: 200px;
  overflow: hidden;
  padding: 10px 20px;
  line-height: 18px;
}

.previewpage {
  /* position: fixed; */
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
}

.previewpane {
  max-width: 320px;
  max-height: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: auto;
  margin-right: auto;

  left: 0;
  right: 0;
  top: 40px;

  z-index: 2;
  color: black;
}

.closeIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: red;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.closeIcon:hover {
  border: 1px solid white;
  color: white;
}

.previewimage {
  height: 300px;
  width: 100%;
}

.previewimage img {
  border: 1px solid black;
  border-radius: 5px;
}

.previewtext {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: left;
}

.previewdownloadIcon {
  color: green;
}
.previewdownloadIcon:hover {
  transform: scale(1.25);
}

.verifiedtext {
  color: green;
  font-weight: 800;
}
