
}

.sZAwe {
  font-weight: 500;
  /* font-size: 12px; */
  color: rgb(112, 122, 131);
}

.kuGBEl {
  flex-direction: column;
}
.kKpYwv {
  display: flex;
}

.kQqVzr {
  position: relative;
  padding: 4px;
  cursor: pointer;
  border: 3px dashed rgb(204, 204, 204);
  border-radius: 10px;
}

.lbhdXq {
  height: 200px;
  width: 300px;
}

.hhsgWl {
  position: absolute;
  inset: 4px;
  z-index: 80;
  opacity: 0;
  height: 0px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.15);
}



.nameField,
.artistnameField {
  /* border: 2px solid red; */
  /* display: flex;
    justify-content: center; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin: auto; */
  /* font-size: 20px; */
  width: 100vh;
  margin-top: 20px;
  font-family: Poppins, sans-serif;
}

.nameField input {
  width: 500px;
  margin: auto;
  padding: 10px;
  border-radius: 11px;
  text-align: left;
  margin-left: 0px;
  margin-top: 10px;
}

.artistnameField input {
  width: 500px;
  margin: auto;
  padding: 10px;
  border-radius: 11px;
  margin-left: 0px;
  margin-top: 10px;
  font-family: Poppins, sans-serif;
}

.description_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  /* font-size: 25px; */
  margin-left: 0px;
  margin-top: 10px;
  font-family: Poppins, sans-serif;
  height: 250px;
}

.description_box textarea {
  width: 500px;
  border-radius: 11px;
  padding: 10px;
  margin-top: 10px;
  font-family: Poppins, sans-serif;
}

.specification_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: 25px;
  margin-left: 0px;
  /* margin-top: 10px; */
  font-family: Poppins, sans-serif;
}

.specification_box textarea {
  width: 500px;
  border-radius: 11px;
  padding: 10px;
  margin-top: 10px;
  font-family: Poppins, sans-serif;
}

/* image box styling */

.imageBox {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.Neon {
  font-family: sans-serif;
  font-size: 14px;
  color: #494949;
  position: relative;
}
.Neon * {
  -webkit-box-sizing: border-box;
  cursor: pointer;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Neon-input-dragDrop {
  display: block;
  width: 343px;
  margin: 10 auto 25px auto;
  /* height: 200px; */
  padding: 25px;
  padding-top: 200px;
  color: #8d9499;
  background: #fff;
  border: 2px dashed #c8cbce;
  border-radius: 15px;
  text-align: center;
  -webkit-transition: box-shadow 0.3s, border-color 0.3s;
  -moz-transition: box-shadow 0.3s, border-color 0.3s;
  transition: box-shadow 0.3s, border-color 0.3s;
  height: 400px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.Neon-input-dragDrop .Neon-input-icon {
  font-size: 48px;
  margin-top: -10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.Neon-input-text h3 {
  margin: 0;
  font-size: 18px;
  font-family: Poppins, sans-serif;
}
.Neon-input-text span {
  font-size: 12px;
}
.Neon-input-choose-btn.blue {
  color: #008bff;
  border: 1px solid #008bff;
}
.Neon-input-choose-btn {
  display: inline-block;
  padding: 8px 14px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  font-size: 15px;
  font-weight: bold;
  color: #8d9496;
  border-radius: 3px;
  border: 1px solid #c6c6c6;
  vertical-align: middle;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.button button {
  padding: 5px 10px;
  width: 200px;
  margin: 20px 0px 0px 20px;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
  background-image: linear-gradient(90deg, #00e7e7, #8946df);
  border-radius: 15px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.form form div p {
  font-size: 12px;
  color: red;
}

#artist,
#asset,
#desc,
#specs {
  display: none;
}

.header {
  background-color: #da45ff;
  background-image: linear-gradient(45deg, #da45ff, #00e7e7);
  background-size: 100%;
  text-align: center;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}
