.image{
    position: relative;
    z-index: 1;
    border: 2px solid white;
    margin-top: 100px;


}

.image img{
    margin: 10px 10px;
    cursor: pointer;
}

.image p{
    position: absolute;
    top: 43%;
    left: 37%;
    font-size: 25px;
    font-weight: 700;
}


.main_certificate{
    /* border: 2px solid red; */
    /* padding: 10px 10px; */
    height: 150vh;
    /* height: 500px;
    width: 500px; */
    /* width: 150vh; */
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.main_certificate p{
    /* border: 2px solid white; */
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 45%;
    left: 42%;
}

.main_certificate img{
    height: 100%;
    width: 80%;
}

.controllers{
    margin-top: 50px;
    /* border: 2px solid; */
}

.controllers input{
    width: 100px;
    margin: 10px 10px;
    outline: none;
}


.input_changing_section{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* margin: auto; */

}

.input_changing_section div{
    /* border: 2px solid white; */
    /* margin: 20px 10px; */
    margin: auto;
/*  */
/* border: 2px solid red; */
margin-top: 20px;
width: 180vh;
/* padding: auto; */
}

.input_changing_section label{
    /* border: 2px solid red; */
    /* text-align: left; */
    /* text-align: left;
    margin-right: 50px;
    font-size: 25px;
    font-weight: 700; */

    font-weight: 700; 
    font-size: 20px;
    display: inline-block;
    text-align: left;
    /* margin-left:25px ; */
    margin-right: 50px;
}
 

.input_name_section input {
    padding: 7px 5px;
    min-width: 600px;
    border-radius:10px ;
    border: 2px solid white;
    font-weight: 600;
    font-size: 15px;

}
.input_heading_section input{
    padding: 7px 5px;
    min-width: 600px;
    border-radius:10px ;
    border: 2px solid red;
    font-weight: 600;
    font-size: 15px;
    margin-left: 30px;

}

.upload_image_section{
    /* border: 2px solid white; */
    /* margin: auto; */
    margin-top: 30px;
}

.upload_image_section input{
    padding: 6px 2px;
    min-width: 600px;
    border-radius:10px ;
    border: 2px solid white;
    font-weight: 600;
    font-size: 15px;
    margin-left: 35px;
    background-color: white;
    color: black;
    cursor: pointer;

}

.change_logo_section{
    margin-top: 30px;
}

.change_logo_section input{
    padding: 7px 5px;
    min-width: 600px;
    border-radius:10px ;
    border: 2px solid white;
    font-weight: 600;
    font-size: 15px;
    margin-left: 70px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.fontFamilySelector , .headingfontFamilySelector{
    /* border: 2px solid red; */
    padding: 15px 10px;
    /* text-align: left; */
    margin: auto;
    margin-top: 5px;
    /* width: 170vh; */



}

.fontFamilySelector label{
    text-align: left;
    margin-right: 48px;
    font-size: 20px;
    font-weight: 700;
}

.headingfontFamilySelector label{
    text-align: left;
    margin-right: 48px;
    font-size: 20px;
    font-weight: 700;

}




.fontFamilySelector select{
    padding: 13px 5px;
    min-width: 600px;
    border-radius:9px ;
    /* border: 2px solid white; */
    font-weight: 600;
    font-size: 15px;
    margin-left: 60px;
    cursor: pointer;

}

.headingfontFamilySelector select{
    padding: 13px 5px;
    min-width: 600px;
    border-radius:9px ;
    /* border: 2px solid white; */
    font-weight: 600;
    font-size: 15px;
    margin-left: 40px;
    cursor: pointer;


}
.download_button button{
    padding: 7px 5px;

    width: 200px;
    /* margin-top: 22px; */
    border-radius: 11px;
    border: none;
    font-weight: bolder;
    cursor:pointer;
    color: white;
    background-image: linear-gradient(90deg, #00e7e7, #8946df);
    margin: auto;
    /* border: 2px solid red; */
    margin-top: 30px;
    margin-right: 140px;
}


.controllers ,  .logo_controllers , .heading_controllers , .content_controllers{ 
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    /* overflow: scroll; */
    /* overflow-y: hidden; */
    /* position: relative; */
    /* margin-top: 20px; */
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 60vh;
    padding: 10px 10px;
    margin-right: 10px;
    
}

.controllers{
    width:180vh;

}


.heading_controllers{
    
    width:180vh;
}

.logo_controllers{
    width:180vh;


} 
.content_controllers{
    width: 180vh;
}

 
.controllers div{
     /* width: 150vh; */
     margin: auto;
     display: flex;
     /* justify-content: space; */
     /* margin-top: 10px; */
     /* border: 2px solid white; */
     width: 300px;
     align-items: center;
     justify-content: space-between;
     /* flex-wrap:wrap ; */


}

.logo_controllers div{
    /* width: 150vh; */
    margin: auto;
    display: flex;
    /* justify-content: space; */
    margin-top: 15px;
    width: 300px;

}

.heading_controllers div{
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    align-items: center;
    /* width: 400px; */

}

.content_controllers div{
    display: flex;
    justify-content: center;
    margin-top: 17px;
    /* border: 2px solid red; */
    align-items: center;
    /* width: 400px; */

}

.controllers div input{
    /* padding: 7px 10px; */
    /* min-width: 600px; */
    width: 80px;
    border-radius:10px ;
    border: 2px solid white;
    font-weight: 600;
    font-size: 15px;
    /* margin-left: 104px;  */
    background-color: white;
    color: black;
    cursor: pointer;
    align-self: flex-start;
    /* border: 2px solid red; */
}

.heading_controllers div input{
    /* padding: 7px 10px; */
    /* min-width: 600px; */
    width: 80px;
    border-radius:10px ;
    border: 2px solid white;
    font-weight: 600;
    font-size: 15px;
    /* margin-left: 104px;  */
    background-color: white;
    color: black;
    cursor: pointer;
    align-self: flex-start;

}

.logo_controllers div input{
    /* padding: 7px 10px; */
    /* min-width: 600px; */
    width: 80px;
    border-radius:10px ;
    border: 2px solid white;
    font-weight: 600;
    font-size: 15px;
    margin-left: 50px; 
    background-color: white;
    color: black;
    cursor: pointer;
    align-self: flex-start;

}

.content_controllers div input{
    width: 80px;
    border-radius:10px ;
    border: 2px solid white;
    font-weight: 600;
    font-size: 15px;
    /* margin-left: 104px;  */
    background-color: white;
    color: black;
    cursor: pointer;
    align-self: flex-start;

}
.controllers label{   
    font-weight: 700; 
    /* font-size: 20px; */
    display: inline-block;
    /* width: 150px; */
    text-align: left;
    margin-left:25px ;
    /* position: absolute; */
    /* top: 12px; */
    /* margin-top: 20px; */
}

.heading_controllers label{
    /* font-weight: 700; 
    font-size: 25px;
    display: inline-block;
    width: 150px;
    margin-left:25px ; */
    font-weight: 700; 
    text-align: left;
    /* font-size: 20px; */
    display: inline-block;
    width: 140px;
    text-align: left;
    margin-left:30px ;
    /* border: 2px solid red; */
    /* margin-top: 20px; */
}

.logo_controllers div label{
    font-weight: 700; 
    /* font-size: 25px; */
    display: inline-block;
    width: 50px;
    text-align: left;
    margin-left:20px ;
    /* border: 2px solid red; */

}

.content_controllers div label{

    font-weight: 700; 
    text-align: left;
    /* font-size: 20px; */
    display: inline-block;
    width: 140px;
    text-align: left;
    margin-left:30px ;
}



.logoUpload img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right:230px ;
    position: absolute;
    top: 10%;
    outline: none;
    display: none;

}

.heading{
    /* border: 2px solid ; */
    margin-top: 10px;
}

#main_heading{
    position: absolute;
    top: 10px;
}


.allcontrollers{
    /* border: 2px solid white; */
    display: flex;
    /* width: 100%; */
    /* flex-wrap: wrap; */
    /* height: 80vh; */
    overflow: scroll;
    padding: 20px 20px;
    overflow-y: hidden; 
    /* justify-content: space-around; */
    align-items: center;
    margin-top: 50px;
}
