/* body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background: #191724;
    color: #fff;
  } */
  
  .input-container {
    /* width: 280px; */
    position: relative;
    margin: 10px auto;
    /* margin: auto; */
    position: relative;


  }
  
  .label {
    position: absolute;
    left: 5%;
    top: 25%;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
    /* font-size: 120px; */
    /* font-size: px; */
  }
  .label label{
    font-size: 10px;
  }
  .text-input {
    padding: 0.8rem;
    width: 100vh;
    height: 100%;
    border: 2px solid #2f2c45;
    background: #272530;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: #fff;
  }
  
  .logo-input{
    padding: 0.6rem;
    width: 100vh;
    height: 100%;
    border: 2px solid #2f2c45;
    background: #272530;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    transition: all 0.3s;
    color: #fff;
    /* display: none; */
  }
  .uploadIamge-container{
    position: relative;

  }
  #logoText{
    position: absolute;
    /* left: 21px; */
    left: 2.2%;
    top: 30%;
    font-size: 17px;
    
  }

  #headingText{
    position: absolute;
    font-size: 17px;
    top: 30%;
    left: -19%;

  }

  #nameText{
    position: absolute;
    font-size: 17px;
    top: 30%;
    left: -16.5%;

  }
  .label::before {
    content: "";
    height: 5px;
    /* background: #272530; */
    position: absolute;
    /* left: 10%; */
    /* top: 10%; */
    width: 100vh;
    z-index: -1;
    font-size: 15px;
  }
  
  .text-input:focus {
    border: 2px solid #7e4ccb;

  }
  
  .text-input:focus + .label,
  .filled {
    top: -10px;
    color: #7e4ccb;
    font-size: 14px;
    /* left: 102%; */
    z-index: 10;
  }
  
  .text-input::placeholder {
    font-size: 15px;
    opacity: 0;
    transition: all 0.3s;
  }
  .text-input:focus::placeholder {
    opacity: 1;
    position: absolute;
    /* left: 50%; */
    font-size: 15px;

  }

  .inputs{
    /* border: 2px solid red; */
    width: 150vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;

    /* height: 100%; */

    width: 150vh;
    margin: 10px auto;
    /* margin-bottom: 201px; */

    padding: 10px 20px  70px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius:15px ;    
    /* opacity: 80%; */
    /* background-color: white; */
    color: white;


  }

  form {
    height: 100vh;
  }

  .button button{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius:15px ; 
  }